body{
    color:#444;
    background-color:lightgray;
}
.content{

    background-color:rgb(180, 215, 250);
}
#box{
    margin:20px;
    height:1000px;
    color:yellow;
    font-weight: bold;
}
.picture{
    margin-bottom:40px;
}